$browncolor : #563024;

$greencolor: #687F64;

$whitecolor: white;

$blackcolor : black;

$lite-brown : rgba(96, 61, 49, 0.5);

$header-background-color: rgba(6, 5, 5, 0.5);

$slider-dots : #896434;

$testimonials-circle : #EBE5E5;

$primary-font-family : 'Hahmlet';

$secondary-font-family : 'Kanit';

$teritary-font-family: 'Inter';

$primary-font-size : 1.8em;

$secondary-font-size: 1.5em;

$graycolor : #D9D9D9;

$button-radius : 5em;